[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dj-database-url = "*"
django = ">=2"
django-grappelli = "*"
elasticsearch = "*"
gunicorn = "*"
newrelic = "*"
pyuploadcare = "*"
rollbar = "*"
whitenoise = "*"
django-haystack = {editable = true, ref = "14dcc68f28d4d7199b826b9362a5186b4e2e84dd", git = "https://github.com/michaelmior/django-haystack.git"}
"psycopg2-binary" = "*"
sqlparse = "*"

[dev-packages]

[requires]
python_version = "3.6"
