[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dj-database-url = "*"
django = "*"
django-grappelli = "*"
gunicorn = "*"
newrelic = "*"
pyuploadcare = "==2.7.0"
rollbar = "*"
whitenoise = "*"
django-haystack = "==3.2.1"
psycopg2-binary = "*"
sqlparse = "*"
whoosh = "*"

[dev-packages]
black = "*"
ruff = "*"
pre-commit = "*"

[requires]
python_version = "3.12"
