[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dj-database-url = "==0.5.0"
django = "*"
django-grappelli = "*"
gunicorn = "*"
newrelic = "*"
pyuploadcare = "==2.7.0"
rollbar = "*"
whitenoise = "*"
django-haystack = "==3.2.1"
psycopg2-binary = "*"
sqlparse = "*"
whoosh = "*"

[dev-packages]
isort = {extras = ["pipfile_deprecated_finder"], version = "5.8.0"}

[requires]
python_version = "3.7"
