certifi==2018.1.18
chardet==3.0.4
dj-database-url==0.4.2
Django==2.0.2
django-grappelli==2.11.1
django-haystack==2.7.0
django-linkcheck==1.5
docutils==0.14
elasticsearch==6.1.1
gunicorn==19.7.1
idna==2.6
jmespath==0.9.3
newrelic==2.102.0.85
psycopg2==2.7.4
python-dateutil==2.6.1
python-ptrace==0.9.3
pytz==2017.3
pyuploadcare==2.2.1
requests==2.18.4
rollbar==0.13.17
simplejson==3.13.2
six==1.11.0
urllib3==1.22
whitenoise==3.3.1
Whoosh==2.7.4
