{% extends "base.htm" %}

{% block content %}

<ul class="link-list unstyled">
  {% for link in links %}
    <li>
    <a href="{{ link.get_absolute_url }}">{{ link.title }}</a>

    {% if link.description %}
      <div class="link-description">{{ link.description|linebreaks }}</div>
    {% endif %}

    {% if user.is_staff %}
    <div>
      <a class="btn btn-primary" href="{% url "admin:links_link_change" link.pk %}">Edit</a>
      <a class="btn btn-danger" href="{% url "admin:links_link_delete" link.pk %}">Delete</a>
    </div>
    {% endif %}
    </li>
  {% endfor %}
</ul>

{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/links.css">
{% endblock %}
