{% extends "base.htm" %}
{% load columns %}
{% load get_item %}

{% block title %}Home{% endblock %}

{% block content %}

{% if site.siteinfo %}
<div class="row">
  <div class="col-sm-12">
    {{ site.siteinfo.description|linebreaks|urlize }}
  </div>
</div>
{% endif %}

<h2>Links</h2>

<div class="row">
  {% for column in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'|columns:"3" %}
    <div class="col-md-4">
      <ul class="unstyled">
        {% for letter in column %}
          <li><h3>
            <a href="{% url 'category_alpha' letter=letter page=1 %}">{{ letter }} ({{ letters|get_item:letter }})</a>
          </h3></li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>
{% endblock %}
