<!DOCTYPE HTML>
{% load captureas %}
{% load menu_li %}
{% load page_url %}

{% captureas title %}
  {% block title %}{% endblock %}
{% endcaptureas %}

<html>
  <head>
    <title>{{ title }} - {{ site.name }}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css">
    {% block styles %}{% endblock %}

    {% captureas feed_url %}{% block feed_url %}{% endblock %}{% endcaptureas %}
    {% if feed_url %}
      <link href="{{ feed_url }}" rel="alternate" type="application/rss+xml" title="{{ title }}">
    {% endif %}
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="nav-collapse collapse">
            <a class="brand" href="{% url "index" %}">{{ site.name }}</a>
            <ul class="nav">
              {% menu_li "recent_links" as "Recent" %}
              {% menu_li "popular_links" as "Popular" %}
            </ul>
            <form action="{% url "haystack_search" %}" class="navbar-search pull-right">
              <input name="q" type="text" class="search-query" placeholder="Search" value="{{ query }}">
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <h1>{{ title }}</h1>
        {% block content %}{% endblock %}

        {% if is_paginated %}
          <div class="pagination">
            <ul>
              {% if page.has_previous %}
                <li><a href="{% page_url page=page.previous_page_number %}">&laquo;</a></li>
              {% endif %}

              {% for page_number in paginator.page_range %}
                <li{% ifequal page.number page_number %} class="active"{% endifequal %}>
                  <a href="{% page_url page=page_number %}">{{ page_number }}</a>
                </li>
              {% endfor %}

              {% if page.has_next %}
                <li><a href="{% page_url page=page.next_page_number %}">&raquo;</a></li>
              {% endif %}
            </ul>
          </div>
        {% endif %}
      </div>
    </div>
  </body>
</html>
