<!DOCTYPE HTML>
{% load macros %}
{% load page_url %}

{% macro title %}
  {% block title %}{% endblock %}
{% endmacro %}

<html>
  <head>
    <title>{% usemacro title %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css">
    {% block styles %}{% endblock %}
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="nav-collapse collapse">
            <div class="nav">
              <a class="brand" href="{% url "index" %}">Link database</a>
            </div>
            <form action="{% url "haystack_search" %}" class="navbar-search pull-right">
              <input name="q" type="text" class="search-query" placeholder="Search" value="{{ query }}">
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <h1>{% usemacro title %}</h1>
        {% block content %}{% endblock %}

        {% if is_paginated %}
          <div class="pagination">
            <ul>
              {% if page.has_previous %}
                <li><a href="{% page_url page=page.previous_page_number %}">&laquo;</a></li>
              {% endif %}

              {% for page_number in paginator.page_range %}
                <li{% ifequal page.number page_number %} class="active"{% endifequal %}>
                  <a href="{% page_url page=page_number %}">{{ page_number }}</a>
                </li>
              {% endfor %}

              {% if page.has_next %}
                <li><a href="{% page_url page=page.next_page_number %}">&raquo;</a></li>
              {% endif %}
            </ul>
          </div>
        {% endif %}
      </div>
    </div>
  </body>
</html>
