{% extends "base.htm" %}
{% load columns %}

{% block title %}Home{% endblock %}

{% block content %}

{% if site.siteinfo %}
<div class="row">
  <div class="col-sm-12">
    {{ site.siteinfo.description|linebreaks|urlize }}
  </div>
</div>
{% endif %}

<h2>Categories</h2>

<div class="row">
  {% for column in categories|columns:"2" %}
    <div class="col-md-6">
      <ul class="unstyled categories-list">
        {% for category in column %}
          <li>
            <a href="{{ category.get_absolute_url }}">{{ category.title }}</a> ({{ category.links.count }})
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>
{% endblock %}
