{% extends "base.htm" %}
{% load highlight %}

{% block title %}
{% if query %}
  Search results for {{ query }} ({{ paginator.count }})
{% else %}
  Search
{% endif %}
{% endblock %}

{% block content %}

{% if query %}

{% if facets.fields.category and not request.GET.selected_facets %}
  <h2>Categories</h2>
  <ul>
    {% for category in facets.fields.category %}
      <li><a href="{{ request.get_full_path }}&amp;selected_facets=category_exact:{{ category.0|urlencode }}">
        {{ category.0 }}</a> ({{ category.1 }})
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% if page.object_list %}
<ul class="link-list unstyled">
  {% for result in page.object_list %}
    <li>
      <a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a>

      {% if result.object.description %}
        <div class="link-description">{% highlight result.object.description with query css_class "text-info" max_length 500 %}</div>
      {% endif %}

      {% if user.is_staff %}
      <div>
        <a class="btn btn-primary" href="{% url "admin:links_link_change" result.object.pk %}">Edit</a>
        <a class="btn btn-danger" href="{% url "admin:links_link_delete" result.object.pk %}">Delete</a>
      </div>
      {% endif %}
    </li>
  {% endfor %}
</ul>
{% else %}
  <p>No results found</p>
{% endif %}

{% else %}
  <p>Please enter a query</p>
{% endif %}

{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/links.css">
{% endblock %}
