{% extends "base.htm" %}
{% load highlight %}
{% load static %}

{% block title %}
{% if query %}
  Search results for {{ query }} ({{ paginator.count }})
{% else %}
  Search
{% endif %}
{% endblock %}

{% block content %}

{% if query %}

{% if page.object_list %}
<ul class="link-list unstyled">
  {% for result in page.object_list %}
    <li>
      <a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a>

      {% if result.object.description %}
        <div class="link-description">{% highlight result.object.description with query css_class "text-info" max_length 500 %}</div>
      {% endif %}

      {% if user.is_staff %}
      <div>
        <a class="btn btn-primary" href="{% url "admin:links_link_change" result.object.pk %}">Edit</a>
        <a class="btn btn-danger" href="{% url "admin:links_link_delete" result.object.pk %}">Delete</a>
      </div>
      {% endif %}
    </li>
  {% endfor %}
</ul>
{% else %}
  <p>No results found</p>
{% endif %}

{% else %}
  <p>Please enter a query</p>
{% endif %}

{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static "css/links.css" %}">
{% endblock %}
