on:
  pull_request: {}
  push:
    branches:
    - main
name: Semgrep
jobs:
  semgrep:
    name: Scan
    runs-on: ubuntu-latest
    if: (github.actor != 'dependabot[bot]')
    container:
      image: returntocorp/semgrep
    steps:
    - uses: actions/checkout@v6
    - run: semgrep ci
      env:
          SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}
